@font-face {
    font-family: "Iosevka NF";
    font-style: normal;
    font-weight: 200;
    src: url('https://github.com/aharenaz/blinksh_fonts/blob/master/IosevkaNerdFont-Light.ttf' format('truetype'));
}
@font-face {
    font-family: "Iosevka NF";
    font-style: normal;
    font-weight: 400;
    src: url('https://github.com/aharenaz/blinksh_fonts/blob/master/IosevkaNerdFont-Regular.ttf' format('truetype'));
}
@font-face {
    font-family: "Iosevka NF";
    font-weight: 500;
    src: url('https://github.com/aharenaz/blinksh_fonts/blob/master/IosevkaNerdFont-Medium.ttf' format('truetype'));
}
@font-face {
    font-family: "Iosevka NF";
    font-weight: 700;
    src: url('https://github.com/aharenaz/blinksh_fonts/blob/master/IosevkaNerdFont-Bold.ttf' format('truetype'));
}
